  
.titulo {
  
  color: #0a2ff1;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-family: Poppins bold ;
}

.resaltado {
  background-color: #3ffff3;
 
  display: flex;
  justify-content: center;
  text-align: center;
}

.parrafo{
    color:#0a2ff1 ;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-family: Poppins medium;
}

.img {
     display: flex;
    text-align: center;
    justify-content: center;
    
}

.celu-img {
    width: 300px; 
  height: auto;
}

.titulo2{
  
  text-align: center;
  font-size: 50px;
  
}

.color{
  color: #0a2ff1;
}

.imagenes2{
  text-align: center;
  padding: 10px;
}

.imagenes2 img{
  margin-right: 10px;
}